@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Bungee+Spice&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
